<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CloudXDeepak DevOps Demo</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <div class="container">

        <h1>CloudXDeepak</h1>

        <h2>DevOps CI/CD Demo</h2>

        <p>
            Python Flask application deployed to AWS EC2 using GitHub Actions.
        </p>

        <div class="architecture">
            GitHub -> GitHub Actions -> AWS EC2 -> Apache -> Flask
        </div>

    </div>

</body>

</html>